@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Utlåst";
}

<hgroup>
    <h1 class="text-danger">utlåst.</h1>
    <h2 class="text-danger">Det här kontot har blivit låst, vänligen prova igen senare..</h2>
</hgroup>
