@{
    ViewBag.Title = "Om vårt projekt";
}



<h1>Vårt projekt hjälper dig som student att organisera dina studier, lägga upp en plan för dina studietimmar och få mer kontroll över vardagen.</h1>
