@{
    ViewBag.Title = "Kontakta oss";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pilgatan 12a<br />
    Umeå, 90331<br />
    <abbr title="Mobilnummer">Mobilnummer:</abbr>
    070 398 36 05
</address>

<address>
    <strong>Supportfrågor:</strong>   <a href="mailto:sandstrom411@gmail.com">sandstrom411@gmail.com</a><br />
    <strong>Marknadsföring:</strong> <a href="mailto:joel.bohman@gmail.com">joel.boman@gmail.com</a>
</address>